/blogdown/
/docs/
/lectures/semester/
/lectures/old_semester/
/lectures/old-semester/
/public/
/planning/*.zip
/planning/*.xlsx
/temp.R
*cache/
.Rproj.user/
node_modules/
Corel Auto-Preserve/
.RData
.Ruserdata
.Rhistory
.DS_Store
*.Rproj
*.out
*.log
*.aux
*.synctex.gz
*-concordance.tex
*.bak
.Rproj.user
