*.Rproj
.Rproj.user/
.RData
.DS_Store
.Rhistory
*.zip
*.xlsx
/blogdown/
/docs/
/public/
.Rproj.user
Corel Auto-Preserve/
*.out
*.log
*.aux
*.synctex.gz
*-concordance.tex
*.bak
/lectures/semester/lecture_lib/models/class_21/HoopoeModel-Test.csv
/static/models/class_21/HoopoeModel-Test.csv
