/blogdown/
/docs/
/lectures/semester/
/public/
*cache/
.Rproj.user/
node_modules/
Corel Auto-Preserve/
.RData
.Ruserdata
.Rhistory
.DS_Store
*.Rproj
*.zip
*.xlsx
*.out
*.log
*.aux
*.synctex.gz
*-concordance.tex
*.bak
.Rproj.user
/temp.R
