{{ define "body" }}
<body style="background-image:url({{ .Site.Params.background | relURL }});background-size:{{ .Site.Params.backgroundSize | safeCSS  }};background-repeat:{{ .Site.Params.backgroundRepeat | safeCSS }};background-color:{{ .Site.Params.backgroundColor | safeCSS }};background-blend-mode:{{ .Site.Params.backgroundBlendMode | safeCSS }}">
  <div class="grid-y medium-grid-frame">
    {{ partial "topbar.html" . }}
    <div class="grid-x medium-auto medium-cell-block-container">
      <div class="grid-container small-12 fill-y medium-cell-block-y">
        <div class="grid-y fill-y grid-margin-y">
          <div class="cell auto show-for-medium">
          </div>
          <div class="grid-x grid-padding-x grid-padding-y shrink scrollable-content medium-cell-block-container" style="background-color:hsla(0, 0%, 100%, 0.9);">
            <div class="cell" style="height:calc(100vh - 5rem);">
    		  	  <h2 class="title text-center">{{ .Title }}</h2>
    		  	  <h3 class="text-center">Class #{{ .Params.class_number }} ({{dateFormat "Mon., Jan 2" .Params.class_date}})</h3>
	            {{ .Content }}
	            {{- if (or .PrevInSection .NextInSection) }}
              <div class="grid-x grid-padding-x align-top">
                  <div class="cell small-6">
                    {{- if .NextInSection }}
	                   <span class="text-left"><a href="{{.NextInSection.URL}}"><i class="material-icons">arrow_back</i> Prev: Class #{{.NextInSection.Params.class_number}} "{{.NextInSection.Title}}"</a></span>
                     {{ end -}}
                  </div>
                <div class="cell small-6">
                  {{- if .PrevInSection }}
	                 <span class="text-right"><a href="{{.PrevInSection.URL}}">Next: Class #{{.PrevInSection.Params.class_number}} "{{.PrevInSection.Title}}" <i class="material-icons">arrow_forward</i></a></span>
                   {{ end -}}
                 </div>
	            </div>
	            {{ end -}}
            </div>
          </div>
	      </div>
      </div>
		</div>
    {{ partial "footer" . }}
	</div>
</body>
{{ end }}
