              <div class="profile-tabs">
               <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="active">
                      <a href="#netlogo" role="tab" data-toggle="tab">
                        <i class="icon-netlogo"></i>
                        NetLogo
                      </a>
                    </li>
                    <!--
                    <li>
                      <a href="#github" role="tab" data-toggle="tab">
                        <i class="fab fa-github"></i>
                        GitHub
                      </a>
                    </li>
                    -->
                     <li>
                      <a href="#R" role="tab" data-toggle="tab">
                        <i class="icon-rlogo"></i>
                        R
                      </a>
                    </li>
                    </ul>

                    <div class="tab-content gallery">
                    <div class="tab-pane text-center active" id="netlogo">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                        <h3>Get started!</h3>
                        <ol>
                        <li><a href="https://ccl.northwestern.edu/netlogo/download.shtml" target="_blank">Install NetLogo</a></li>
                          <li><a href="https://ccl.northwestern.edu/netlogo/docs/" target="_blank">Read the NetLogo User Manual</a></li>
                          <li><a href="https://www.openabm.org/education" target="_blank">Explore tutorials at OpenABM</a></li>
                        </ol>
                        <h3>Explore published models:</h3>
                        <ol>
                          <li><a href="https://www.openabm.org/models" target="_blank">The OpenABM Model Library</a></li>
                          <li><a href="https://ccl.northwestern.edu/netlogo/models/community/index.cgi" target="_blank">NetLogo User Community Models</a></li>
                          <li><a href="http://modelingcommons.org/account/login" target="_blank">NetLogo Modeling Commons</a></li>
                        </ol>
                        </div>
                      </div>
                    </div>
                    <!--
                    <div class="tab-pane text-center" id="github">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">

                        <h3>Get started!</h3>
                        <ol>
                        <li><a href="http://happygitwithr.com/github-acct.html" target="_blank">Create a GitHub account</a></li>
                        <li><a href="http://happygitwithr.com/install-git.html" target="_blank">Install Git</a></li>
                        <li><a href="http://happygitwithr.com/hello-git.html" target="_blank">Introduce yourself to Git</a></li>
                        </ol>

                        <h3> Learn more:</h3>
                        <ul>
                          <li><a href="https://help.github.com/" target="_blank">GitHub Help topics</a></li>
                          <li> <a href="https://education.github.com" target="_blank">Free GitHub Student Accounts</a></li>
                        </ul>
                        </div>
                      </div>
                    </div>
                    -->
                    <div class="tab-pane text-center" id="R">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                        <h3>Optional</h3>
                        <p>
                        You do not need to use R for this course, but people who are familiar with R
                        may find that it is a powerful tool for analyzing NetLogo models, and there
                        are tools for integrating NetLogo and R.
                        </p>

                        <p>
                        If you do not want to use R, you may find the interactive web-based
                        <a href="https://analyze-behaviorspace.jgilligan.org/" target="_blank">Analyze Behaviorspace</a> tool
                        useful for reformatting data produced by Behaviorspace experiments in NetLogo.
                        </p>

                        <h3>Get started!</h3>
                        <ol>
                        <li>Install the latest <a href="https://cran.rstudio.com/" target="_blank">R</a> and <a href="https://www.rstudio.com/products/rstudio/download/#download" target="_blank">RStudio</a> (free desktop edition)</li>
                        <li>Install the <a href="https://github.com/jonathan-g/analyzeBehaviorspace" target="_blank">Analyze Behaviorspace tool</a> for R, so you can run
                        it on your own computer.</li>
                        </ol>

                        <h3>R tools & features</h3>
                        <dl>
                        <dt><a href="https://rstudio.com" target="_blank">RStudio</a>:</dt><dd>Fully featured IDE</dd>
                        <dt><a href="https://www.tidyverse.org/" target="_blank">Tidyverse:</a></dt>
                        <dd>an opinionated collection of R packages designed for data science</dd>
                        <dt><a href="https://rmarkdown.rstudio.com" target="_blank">RMarkdown:</a></dt>
                        <dd>Authoring LaTeX pdfs, websites, and more</dd>
                        <dt><a href="http://r-pkgs.had.co.nz/" target="_blank">R Packages:</a></dt>
                        <dd>Portable, reproducible code</dd>
                        </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Profile Tabs -->
